* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: #e5e5fd;
    min-height: 100vh;
    border: 10px solid #1d1e4c;
}

.content {
    max-width: 900px;
    margin: 0 auto;
}

.top-section {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.top-section h1 {
    font-size: 50px;
    font-weight: bold;
    color: #1d1e4c;
    text-transform: uppercase;
}

.top-section h4 {
    font-size: 30px;
    text-align: end;
}

.image-container {
    border-radius: 50%;
    overflow: hidden;
}

.image-container,
img {
    height: 320px;
    width: 300px;
}

.about-section {
    margin-top: 50px;
}

.about-section h2 {
    font-size: 70px;
    font-weight: 400;
    margin-bottom: 20px;
}

.about-section p {
    line-height: 30px;
    letter-spacing: 1.2px;
    font-size: 20px;
    text-align: justify;
}

.Biography-section {
    margin: 50px 0px;
}

.Biography-section h3 {
    margin-bottom: 20px;
}

.Biography-section ul {
    margin-left: 50px;
}

.Biography-section li {
    margin-bottom: 15px;
}

footer {
    margin: 50px 0px;
}

footer p {
    text-align: end;
}